<div class="grid grid-nogutter">
  <div class="col-fixed">
    <canvas #chart width="400" height="400"></canvas>
  </div>
  <div class="col">
    <h4 class="text-center font-semibold">Hasil</h4>
    <div
      class="grid-grid-nugutter flex-column mat-elevation-z2 binary-table"
      *ngIf="numClasses === 2"
    >
      <table mat-table [dataSource]="dataSource">
        <!-- TP Column -->
        <ng-container matColumnDef="tp">
          <th mat-header-cell *matHeaderCellDef>TP</th>
          <td mat-cell *matCellDef="let row">{{ row?.tp }}</td>
        </ng-container>

        <!-- FN Column -->
        <ng-container matColumnDef="fn">
          <th mat-header-cell *matHeaderCellDef>FN</th>
          <td mat-cell *matCellDef="let row">{{ row?.fn }}</td>
        </ng-container>

        <!-- FP Column -->
        <ng-container matColumnDef="fp">
          <th mat-header-cell *matHeaderCellDef>FP</th>
          <td mat-cell *matCellDef="let row">{{ row?.fp }}</td>
        </ng-container>

        <!-- TN Column -->
        <ng-container matColumnDef="tn">
          <th mat-header-cell *matHeaderCellDef>TN</th>
          <td mat-cell *matCellDef="let row">{{ row?.tn }}</td>
        </ng-container>

        <!-- Precision Column -->
        <ng-container matColumnDef="precision">
          <th mat-header-cell *matHeaderCellDef>Precision</th>
          <td mat-cell *matCellDef="let row">{{ row?.precision | percent }}</td>
        </ng-container>

        <!-- Recall Column -->
        <ng-container matColumnDef="recall">
          <th mat-header-cell *matHeaderCellDef>Recall</th>
          <td mat-cell *matCellDef="let row">{{ row?.recall | percent }}</td>
        </ng-container>

        <!-- Specificity Column -->
        <ng-container matColumnDef="specificity">
          <th mat-header-cell *matHeaderCellDef>Specificity</th>
          <td mat-cell *matCellDef="let row">{{ row?.specificity | percent }}</td>
        </ng-container>

        <!-- F1 Column -->
        <ng-container matColumnDef="f1">
          <th mat-header-cell *matHeaderCellDef>F1</th>
          <td mat-cell *matCellDef="let row">{{ row?.f1 | percent }}</td>
        </ng-container>

        <!-- Cccuracy Column -->
        <ng-container matColumnDef="accuracy">
          <th mat-header-cell *matHeaderCellDef>Accuracy</th>
          <td mat-cell *matCellDef="let row">{{ row?.accuracy | percent }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell text-center" colspan="100%">No data</td>
        </tr>
      </table>
    </div>
    <div
      class="grid-grid-nugutter flex-column mat-elevation-z2 binary-table"
      *ngIf="numClasses === 3"
    >
      <table mat-table [dataSource]="dataSource">
        <!-- Class Column -->
        <ng-container matColumnDef="class">
          <th mat-header-cell *matHeaderCellDef>Class</th>
          <td mat-cell *matCellDef="let row">{{ row?.class }}</td>
        </ng-container>

        <!-- TP Column -->
        <ng-container matColumnDef="tp">
          <th mat-header-cell *matHeaderCellDef>TP</th>
          <td mat-cell *matCellDef="let row">{{ row?.tp }}</td>
        </ng-container>

        <!-- FN Column -->
        <ng-container matColumnDef="fn">
          <th mat-header-cell *matHeaderCellDef>FN</th>
          <td mat-cell *matCellDef="let row">{{ row?.fn }}</td>
        </ng-container>

        <!-- FP Column -->
        <ng-container matColumnDef="fp">
          <th mat-header-cell *matHeaderCellDef>FP</th>
          <td mat-cell *matCellDef="let row">{{ row?.fp }}</td>
        </ng-container>

        <!-- TN Column -->
        <ng-container matColumnDef="tn">
          <th mat-header-cell *matHeaderCellDef>TN</th>
          <td mat-cell *matCellDef="let row">{{ row?.tn }}</td>
        </ng-container>

        <!-- Precision Column -->
        <ng-container matColumnDef="precision">
          <th mat-header-cell *matHeaderCellDef>Precision</th>
          <td mat-cell *matCellDef="let row">{{ row?.precision | percent }}</td>
        </ng-container>

        <!-- Recall Column -->
        <ng-container matColumnDef="recall">
          <th mat-header-cell *matHeaderCellDef>Recall</th>
          <td mat-cell *matCellDef="let row">{{ row?.recall | percent }}</td>
        </ng-container>

        <!-- Specificity Column -->
        <ng-container matColumnDef="specificity">
          <th mat-header-cell *matHeaderCellDef>Specificity</th>
          <td mat-cell *matCellDef="let row">{{ row?.specificity | percent }}</td>
        </ng-container>

        <!-- F1 Column -->
        <ng-container matColumnDef="f1">
          <th mat-header-cell *matHeaderCellDef>F1</th>
          <td mat-cell *matCellDef="let row">{{ row?.f1 | percent }}</td>
        </ng-container>

        <!-- Cccuracy Column -->
        <ng-container matColumnDef="accuracy">
          <th mat-header-cell *matHeaderCellDef>Accuracy</th>
          <td mat-cell *matCellDef="let row">{{ row?.accuracy | percent }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsMultiClass"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumnsMultiClass"
        ></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell text-center" colspan="100%">No data</td>
        </tr>
      </table>
    </div>
  </div>
</div>
